h1 {
    margin-bottom: -30px;
}

h6 {
    margin-bottom: -20px;
}

#colors{
    margin-bottom: 20px;
}

input {
    display: inline;
}

#guess-form {
    
    width: 320px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 50px;
}

#message-form {
    position: absolute;
    left: 600px;
    top: 150px;
    width: 600px;
    height: 50px;
    font-size: 25px;

}

#color-input {
    font-size: 30px;
    height: 50px;
    width: 200px;
}

#message-input {
    font-size: 30px;
    height: 50px;
    width: 400px;
}



.submit-button {
    width: 90px;
    height: 50px;
}

.header {
    margin-bottom: 50px;
    margin-top: -10px;
    margin-left: 20px;
}


.new-message {
    position: absolute;
    left: 650px;
    top: 220px;
}


#chat {
    position: absolute;
    left: 650px;
    width: 400px;
    height: 700px;
    overflow: scroll;
}

.message {
    margin-bottom: 10px;
}

.message-text {
    display: inline-block;
    padding: 10px;

}

.identifier{
    
    width: 30px;
    height: 20px;
    display: inline-block;
}

#red {
    border: 4px solid red;
    border-radius: 7px;
}

#green {
    border: 4px solid green;
    border-radius: 7px;
}


